.slider {
  content: "";
  position: absolute;
  display: flex;
  align-items: center;
  height: 20em;
  margin-top: 7em;
}
.slider button {
  width: 5em;
  padding: 0.5em;
}

.slider img {
  width: 15em;
  height: 12em;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 1em;
  box-shadow: 0 2px 15px #00bcd4;
}

.slides {
  display: flex;
}


